<div class="container mt-3">
  <h1>Hi, I'm <%= @pet.name %></h1>

  <% if @pet.avatar.attached? %>
    <%= cl_image_tag @pet.avatar.key  %>
  <% else %>
    <%= image_tag "https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post.jpg", height: 300, class: "w-100" %>
  <% end %>

  <%# if policy(@pet).update? %>  
  <%# end %>
  <%= link_to 'Edit this pet', edit_pet_path(@pet), class: 'btn btn-info btn-block' %>

  <h2 class="my-3">Other pets</h2>
  <div class="row">
    <%= render @other_pets %>
  </div>
</div>