<h1><%= @salon.name %></h1>

<h2>List a new pet</h2>
<%= simple_form_for [@salon, @pet] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn btn-block btn-primary' %>
<% end %>

<ul>
  <% @salon.pets.each do |pet| %>
  <li><%= pet.name %></li>
  <% end %>
</ul>


