<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.dog.ceo/breeds/hound-plott/hhh-23456.jpeg);">
  <div class="container">
    <h1><%= @salon.name %></h1>
  </div>
</div>
<%# Banner %>

<div class="container">
  <h2 class="mt-3">List a new pet</h2>
  <%= simple_form_for [@salon, @pet] do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: 'btn btn-block btn-primary' %>
  <% end %>

  
  <div class="row">
    <%= render @salon.pets  %>
  </div>

</div>


